<body>
    <header>
      <h1>SweetCake</h1>
      <p>Your Sweet Delight</p>
    </header>
  
    <section>
      <h2>About Us</h2>
    <div class="container">
        <div class="row">
            <div class="col-md-12 mx-auto">
                <img src="https://static.vecteezy.com/system/resources/thumbnails/008/991/813/small/elegant-sweet-cake-logo-for-any-business-especially-for-cakery-bakery-cake-shop-cafe-etc-vector.jpg" alt="SweetCake Shop">
            </div>
        </div>
    </div>
  
      <p>Welcome to SweetCake Shop, where we bring joy to your taste buds with our delightful and delicious cakes. Our passion for baking drives us to create unique and mouthwatering treats that satisfy your sweet cravings.</p>
  
      <p>At SweetCake, we believe in using the finest ingredients to craft cakes that not only look amazing but also taste heavenly. Whether you're celebrating a special occasion or simply indulging in a sweet moment, our cakes are the perfect choice.</p>
  
      <p>Our talented team of bakers and decorators work tirelessly to create visually stunning cakes that are a feast for the eyes. From classic flavors to innovative creations, we have something for everyone.</p>
  
      <p>Visit our shop today and experience the magic of SweetCake. We look forward to serving you and making every moment a little sweeter.</p>
    </section>