<!-- <div class="container">
    <div class="row">
        <div class="col-md-2">
            <div class="form-check ms-3">
                <input class="form-check-input mt-1"  type="radio" name="wearType" id="ethentic">
                <label class="form-check-label fw-medium" for="ethentic">
                    Ethentic Wear
                </label><br>
                <input class="form-check-input mt-1" type="radio" name="wearType" id="casual">
                <label class="form-check-label fw-medium" for="casual">
                    Casual Wear
                </label><br>
                <input class="form-check-input mt-1" type="radio"  name="wearType" id="active">
                <label class="form-check-label fw-medium" for="active">
                    Active Wear-Mens
                </label><br>
                <input class="form-check-input mt-1" type="radio"  name="wearType" id="western">
                <label class="form-check-label fw-medium" for="western">
                    Western Wear
                </label><br>
                <input class="form-check-input mt-1" type="radio" name="wearType" id="sport">
                <label class="form-check-label fw-medium" for="sport">
                    Sport Wear
                </label><br>
                <input class="form-check-input mt-1" type="radio"  name="wearType" id="long">
                <label class="form-check-label fw-medium" for="long">
                    Long Wear
                </label><br>
                <input class="form-check-input mt-1" type="radio"  name="wearType" id="watches">
                <label class="form-check-label fw-medium" for="watches">
                    Watches
                </label>
            </div>
            <hr>
            <div class="form-check  mt-3">
                <p class=" price fw-medium">PRICE</p>
                <div class="under mt-3">
                    <input class="form-check-input mt-1"  type="radio" name="wearType" id="300">
                    <label class="form-check-label fw-medium" for="300">
                        Under 300
                    </label>
                </div>
                <div class="bet">
                    <input class="form-check-input mt-1" type="radio" name="wearType" id="300 to 800">
                    <label class="form-check-label fw-medium" for="300 to 800">
                        Rs.300 to Rs.800
                    </label>
                </div>
                <div class="max">
                    <input class="form-check-input mt-1"  type="radio" name="wearType" id="max">
                    <label class="form-check-label fw-medium" for="max">
                        Above 900
                    </label>
                </div>
            </div>
    
    
        </div>
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-4" *ngFor="let x of products">
                    <div (click)="productDetails(x.id)" class="card" style="width: 18rem;" >
                        <img [src]="x.images" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">{{x.productName}}</h5>
                            <p class="card-text">Price: {{x.price | currency:"INR"}}</p>
                            <p class="card-text">Category: {{x.categoryName}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->




<!-- ---------------------------------------------------------------------- -->












<div class="apparel">
    <h4 class="apperal ms-4">Apparel Items</h4>

</div>
<div class="container-fluid">
    <div class="col-md-4 filter">
        <div class="button">
            <p>FILTERS </p>
            <p class="clear" (click)="clear()" >CLEAR ALL</p>
        </div>
        <hr>

        <div class="form-check mt-3 ms-3">
            <input class="form-check-input mt-1" type="radio" name="wearType" id="Same Day Delivery Cakes" (click)="chocolate('Same Day Delivery Cakes')">
            <label class="form-check-label fw-medium" for="Same Day Delivery Cakes">
                Same Day Delivery Cakes
            </label><br>
            <input class="form-check-input mt-1" type="radio" name="wearType" id="Midnight Delivery Cakes" (click)="chocolate('Midnight Delivery Cakes')">
            <label class="form-check-label fw-medium" for="Midnight Delivery Cakes">
                Midnight Delivery Cakes
            </label><br>
            <input class="form-check-input mt-1" type="radio" name="wearType" id="Best Seller Cakes" (click)="chocolate('Best Seller Cakes')">
            <label class="form-check-label fw-medium" for="Best Seller Cakes">
                Best Seller Cakes
            </label><br>
            <input class="form-check-input mt-1" type="radio" name="wearType" id="Brand New Cakes"(click)="chocolate('Brand New Cakes')">
            <label class="form-check-label fw-medium" for="Brand New Cakes">
                Brand New Cakes
            </label>
        </div>
        <hr>
        <p class="fw-medium">Flavours</p>
        <div class="form-check ms-3">
            <input class="form-check-input mt-1" type="radio" name="wearType" id="ChocolateCake">
            <label class="form-check-label fw-medium" for="ChocolateCake" (click)="chocolate('Chocolate Cake')">
                Chocolate Cake
            </label><br>
            <input class="form-check-input mt-1" type="radio" name="wearType" id="BlackForestCake" (click)="chocolate('Black Forest Cake')">
            <label class="form-check-label fw-medium" for="BlackForestCake">
                Black Forest Cake
            </label><br>
            <input class="form-check-input mt-1" type="radio" name="wearType" id="ButterscotchCakes" (click)="chocolate('Butterscotch Cakes')">
            <label class="form-check-label fw-medium" for="ButterscotchCakes">
                Butterscotch Cakes
            </label><br>
            <input class="form-check-input mt-1" type="radio" name="wearType" id="PineappleCakes" (click)="chocolate('Pineapple Cakes')">
            <label class="form-check-label fw-medium" for="PineappleCakes">
                Pineapple Cakes
            </label><br>
            <input class="form-check-input mt-1" type="radio" name="wearType" id="VanilaCakes" (click)="chocolate('Vanila Cakes')">
            <label class ="form-check-label fw-medium" for="VanilaCakes">
                Vanila Cakes
            </label><br>
            <input class="form-check-input mt-1" type="radio" name="wearType" id="FruitCakes" (click)="chocolate('Fruit Cakes')">
            <label class="form-check-label fw-medium" for="FruitCakes">
                Fruit Cakes
            </label><br>
            <input class="form-check-input mt-1" type="radio" name="wearType" id="TruffleCakes" (click)="chocolate('Truffle Cakes')">
            <label class="form-check-label fw-medium" for="TruffleCakes">
                Truffle Cakes
            </label>
        </div>
        
        <hr>
        <div class="form-check  mt-3">
            <p class=" price fw-medium">PRICE</p>
            <div class="under mt-3">
                <input class="form-check-input mt-1" type="radio" name="wearType" id="300">
                <label class="form-check-label fw-medium" (click)="under()" for="300">
                    Under 500
                </label>
            </div>
            <div class="bet">
                <input class="form-check-input mt-1" type="radio" name="wearType" id="300 to 800">
                <label class="form-check-label fw-medium" (click)="between()" for="300 to 800">
                    Rs.300 to Rs.800
                </label>
            </div>
            <div class="max">
                <input class="form-check-input mt-1" type="radio" name="wearType" id="max">
                <label class="form-check-label fw-medium" (click)="above()" for="max">
                    Above 900
                </label>
            </div>
        </div>

    </div>

    <div class=" col-md-8 products">
        <!-- Product cards (repeat this block for each product) -->
        <div class="product-card shadow-sm p-3 mb-5 bg-body-white rounded" *ngFor="let x of products">
            <img (click)="productDetails(x.id)" [src]="x.images" alt="">
            <p class="name mt-2 ">{{x.productName}}</p>
            <p class="name mt-2 ">{{x.categoryName | titlecase}}</p>
            <p class="desc fw-bold">{{x.price | currency:"INR"}}</p>

        </div>
    </div>
</div>