<div class="container">
    <div class="row">
        <div class="col-md-2">
            <h2>Lorem, ipsum.</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aspernatur deleniti minima blanditiis pariatur
                tenetur totam distinctio culpa facilis, neque ipsam harum nam possimus odit provident libero similique
                optio magnam. Mollitia voluptatum nostrum excepturi tempore?</p>
        </div>
        <div class="col-md-2">
            <h2>Lorem, ipsum.</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aspernatur deleniti minima blanditiis pariatur
                tenetur totam distinctio culpa facilis, neque ipsam harum nam possimus odit provident libero similique
                optio magnam. Mollitia voluptatum nostrum excepturi tempore?</p>
        </div>
        <div class="col-md-2">
            <h2>Lorem, ipsum.</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aspernatur deleniti minima blanditiis pariatur
                tenetur totam distinctio culpa facilis, neque ipsam harum nam possimus odit provident libero similique
                optio magnam. Mollitia voluptatum nostrum excepturi tempore?</p>
        </div>
        <div class="col-md-2">
            <h2>Lorem, ipsum.</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aspernatur deleniti minima blanditiis pariatur
                tenetur totam distinctio culpa facilis, neque ipsam harum nam possimus odit provident libero similique
                optio magnam. Mollitia voluptatum nostrum excepturi tempore?</p>
        </div>
        <div class="col-md-2">
            <h2>Lorem, ipsum.</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aspernatur deleniti minima blanditiis pariatur
                tenetur totam distinctio culpa facilis, neque ipsam harum nam possimus odit provident libero similique
                optio magnam. Mollitia voluptatum nostrum excepturi tempore?</p>
        </div>
        <div class="col-md-2">
            <h2>Lorem, ipsum.</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aspernatur deleniti minima blanditiis pariatur
                tenetur totam distinctio culpa facilis, neque ipsam harum nam possimus odit provident libero similique
                optio magnam. Mollitia voluptatum nostrum excepturi tempore?</p>
        </div>
    </div>
</div>