
<div class="container">
  <div class="row">
    <h3 class="mb-3">Dashboard</h3>
    <div class="col-md-3 widget green">
      <div class="icon">
        <i class="fa-solid fa-box fa-beat" style="color: #f7f9fc;"></i>
      </div>
      <div class="value" routerLink="/seller/totalproduct">
        <div class="top">{{productCount}}</div>
        <div class="bottom">Total Products</div>
         
      </div>
    </div> 
    <div class="col-md-3 widget yellow">
      <div class="icon">
        <i class="fa-regular fa-user fa-beat" style="color: #f1eeee;"></i>
      </div>
      <div class="value" routerLink="/seller/customers">
          <div class="top" >{{userCount}}</div>
          <div class="bottom" >Total Customers</div>
      </div>
    </div> 
    <div class="col-md-3 widget red">
      <div class="icon">
        <i class="fa-solid fa-cart-shopping fa-beat" style="color: #ecf1f9;"></i>
      </div>
      <div class="value" >
          <div class="top" routerLink="/seller/sellerorder">{{orderCount}}</div>
          <div class="bottom" routerLink="/seller/sellerorder">Total Sales</div>
      </div>
    </div> 
    <div class="col-md-3 widget blue">
      <div class="icon">
        <i class="fa-solid fa-sack-dollar fa-beat" style="color: #e8eaed;"></i>

      </div>
      <div class="value">
          <div class="top">{{amount |currency:"INR"}}</div>
          <div class="bottom">Total Revenue</div>
      </div>
    </div>
  </div>
</div>








<!-- 
            <div class="widget-container">
                <div id="widget" class="">
                   
                </div>
                <div class="">
                    
                </div>
                <div class="">
                    
                </div>
                <div class="">
                    
                </div>
            </div> -->
      


<div class="container">
    <div class="row">
        <div class="col-md-6 mt-5 shadow p-3 mb-5 bg-body-tertiary rounded" >
            <h3 [chart]="lineChart"></h3>
        </div>
        <div class="col-md-6 mt-5 shadow p-3 mb-5 bg-body-tertiary rounded">
            <h3 [chart]="pieChart"></h3>
        </div>
        <!-- <div class="col-md-6 shadow p-3 mb-5 bg-body-tertiary rounded">
            <h3>Chart 3</h3>
        </div>
        <div class="col-md-6 shadow p-3 mb-5 bg-body-tertiary rounded">
            <h3>Chart 4</h3>
        </div> -->
    </div>
</div>



  