<!-- <div class="container mb-5">
    <div class="row">
        <div class="col-md-12">
            <h3>Account</h3>
        </div>
    </div>
</div> -->

<div class="profile-container">
  <div class="profile-sidebar">
    <div class="vertical-menu">
      <button>Overview</button>
      <hr>
      <p class="ms-2">ACCOUNT</p>
      <button (click)="selectMenu('profile')">Profile</button>
      <button (click)="selectMenu('editprofile')">Edit Profile</button>
      <button (click)="selectMenu('savecards')">Save Cards</button>
      <button (click)="selectMenu('saveupi')">Save UPI</button>
    </div>
  </div>

  <div class="profile-content">
    <!-- <div *ngIf="menuOption === 'overview'">

        </div> -->

    <div *ngIf="menuOption === 'profile'">
      <!-- Profile Content -->
      <section >
        <div class="container ">


          <div class="row" *ngFor="let x of profiledata">
            <div class="col-lg-4">
              <div class="card mb-4">
                <div class="card-body text-center">
                  <img src="{{x.image}}" alt="avatar" class="rounded-circle img-fluid" style="width: 150px;">
                  <h5 class="my-3">{{x.firstName |titlecase}} {{x.lastName |titlecase}}</h5>
                  <!-- <p class="text-muted mb-1">Full Stack Developer</p>
                  <p class="text-muted mb-4">Bay Area, San Francisco, CA</p> -->
                  <div class="d-flex justify-content-center mb-2">

                  </div>
                </div>
              </div>

            </div>
            <div class="col-lg-8">
              <div class="card mb-4">
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-3">
                      <p class="mb-0">Full Name</p>
                    </div>
                    <div class="col-sm-9">
                      <p class="text-muted mb-0">{{x.firstName |titlecase}} {{x.lastName |titlecase}}</p>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <p class="mb-0">Email</p>
                    </div>
                    <div class="col-sm-9">
                      <p class="text-muted mb-0">{{x.email}}</p>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <p class="mb-0">Phone</p>
                    </div>
                    <div class="col-sm-9">
                      <p class="text-muted mb-0">{{x.mobileNumber}}</p>
                    </div>
                  </div>
                  <hr>


                  <div class="row">
                    <div class="col-sm-3">
                      <p class="mb-0">Address</p>
                    </div>
                    <div class="col-sm-9">
                      <p class="text-muted mb-0">{{x.address1}}</p>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <p class="mb-0">City</p>
                    </div>
                    <div class="col-sm-9">
                      <p class="text-muted mb-0">{{x.city}}</p>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <p class="mb-0">State</p>
                    </div>
                    <div class="col-sm-9">
                      <p class="text-muted mb-0">{{x.state}}</p>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </section>
    </div>

    <!-- edit form start -->
    <div *ngIf="menuOption === 'editprofile'">
      <div class="container">
        <div class="row">
        
          <div class="col-md-9">
            <form class="example-form mt-4 p-4" *ngIf="!editMode" (ngSubmit)="formsubmit(profileForm.value)"
              [formGroup]="profileForm">
              <h2 class="text-center mb-4"> Profile Settings</h2>



              <div class="form-group">
                <label for="firstName">First Name</label>
                <input type="text" id="firstName" class="form-control" formControlName="firstName">
              </div>

              <div class="form-group">
                <label for="lastName">Last Name</label>
                <input type="text" id="lastName" class="form-control" formControlName="lastName">
              </div>

              <div class="form-group">
                <label for="email">Email Id</label>
                <input type="email" id="email" class="form-control" formControlName="email">
              </div>

              <div class="form-group">
                <label for="mobileNumber">Mobile Number</label>
                <input type="text" id="mobileNumber" class="form-control" formControlName="mobileNumber">
              </div>

              <div class="form-group">
                <label for="address1">Address</label>
                <textarea id="address1" class="form-control" formControlName="address1"
                  placeholder="Ex. 100 Main St"></textarea>
              </div>
              <!--   
                <div class="form-group">
                  <label for="address2">Address 2</label>
                  <textarea id="address2" class="form-control" formControlName="address2"></textarea>
                </div> -->

              <div class="form-group">
                <label for="city">City</label>
                <input type="text" id="city" class="form-control" formControlName="city"
                  placeholder="Ex. San Francisco">
              </div>

              <div class="form-group">
                <label for="state">State</label>
                <input type="text" id="state" class="form-control" formControlName="state" placeholder="Ex. California">
              </div>

              <div class="form-group">
                <label for="productImage">Profile Image</label>
                <input type="text" id="productImage" class="form-control" formControlName="image" accept="image/*"
                  required="image" placeholder="Add  Image URL">
              </div>

              <button type="submit" class="btn btn-primary btn-block mt-4 mx-2" [disabled]="!profileForm.valid">Create Profile</button>
              <button class="btn btn-primary btn-block mt-4" (click)="toggleEditForm()">Edit Profile</button>
            </form>

            <form class="example-form mt-4 p-4" *ngIf="editMode" (ngSubmit)="updateProfile(updateProfiles.value)"
              [formGroup]="updateProfiles">
              <h2 class="text-center mb-4">Edit Your SweetCakes Profile</h2>

              <div class="form-group">
                <label for="editFirstName">First Name</label>
                <input type="text" id="editFirstName" [(ngModel)]="data.firstName" formControlName="firstName"
                  name="editFirstName" class="form-control">
              </div>


              <div class="form-group">
                <label for="editLastName">Last Name</label>
                <input type="text" id="editLastName" [(ngModel)]="data.lastName" formControlName="lastName"
                  name="editLastName" class="form-control">
              </div>

              <div class="form-group">
                <label for="editEmail">Email Id</label>
                <input type="email" id="editEmail" [(ngModel)]="data.email" name="editEmail" formControlName="email"
                  class="form-control">
              </div>

              <div class="form-group">
                <label for="editMobileNumber">Mobile Number</label>
                <input type="text" id="editMobileNumber" [(ngModel)]="data.mobileNumber" formControlName="mobileNumber"
                  name="editMobileNumber" class="form-control">
              </div>

              <div class="form-group">
                <label for="editAddress1">Address</label>
                <textarea id="editAddress1" [(ngModel)]="data.address1" formControlName="address1" name="editAddress1"
                  class="form-control" placeholder="Ex. 100 Main St"></textarea>
              </div>

              <!-- <div class="form-group">
                  <label for="editAddress2">Address 2</label>
                  <textarea id="editAddress2" [(ngModel)]="data.address2" formControlName="address2" name="editAddress2"
                    class="form-control"></textarea>
                </div> -->

              <div class="form-group">
                <label for="editCity">City</label>
                <input type="text" id="editCity" [(ngModel)]="data.city" formControlName="city" name="editCity"
                  class="form-control" placeholder="Ex. San Francisco">
              </div>

              <div class="form-group">
                <label for="editState">State</label>
                <input type="text" id="editState" [(ngModel)]="data.state" formControlName="state" name="editState"
                  class="form-control" placeholder="Ex. California">
              </div>

              <div class="form-group">
                <label for="editImage">Profile Image</label>
                <input type="text" id="editImage" name="editImage" [(ngModel)]="data.image" formControlName="image"
                  class="form-control" accept="image/*" required="image" placeholder="Add Profile Image URL">
              </div>

              <button type="submit" class="btn btn-primary btn-block mt-4 mx-2" >Save Changes</button>
              <button class="btn btn-primary btn-block mt-4" (click)="toggleEditForm()">Cancel</button>
            </form>

          </div>
        </div>
      </div>

    </div>
    <div *ngIf="menuOption === 'savecards'">
    <h4 class="text-center mt-5">  You have not selected any cards.</h4>
    </div>
    
    <div *ngIf="menuOption === 'saveupi'">
      <!-- Save UPI Content -->
      <div class="upi-image">
        <img src="https://constant.myntassets.com/mymyntra/assets/img/nosavedvpa.png" alt="">
        <p class="text-center fw-bold">SAVE YOUR UPI ID WHILE DOING A PAYMENT</p>
        <p class="text-center">It's convenient to pay with saved UPI IDs.</p>
      </div>

  </div>
  
  </div>

</div>





