<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h4 class="mb-5 mt-2">Total Customers</h4>
      <table class="table align-middle mb-0 bg-white table table-hover">
        <thead class="bg-light table-secondary">
          <tr>
            <th>Name</th>
            <th>Mobile Number</th>
            <th>Address</th>
           
            <th>State</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let x of users">
            <td>
              <div class="d-flex align-items-center">
                <img src="{{x.image}}" alt="" style="width: 45px; height: 45px"
                  class="rounded-circle" />
                <div class="ms-3">
                  <p class="fw-bold mb-1">{{x.firstName}} {{x.lastName}}</p>
                  <p class="text-muted mb-0">{{x.email}}</p>
                </div>
              </div>
            </td>
            <td>
              <p class="fw-normal mb-1">{{x.mobileNumber}}</p>
            </td>
            <td>
              <p class="text-muted mb-0">{{x.address1}}</p>
              <p class="fw-normal mb-1">{{x.city}}</p>
            </td>
            <td>
             <p>
              {{x.state}}
             </p>
            </td>
          </tr>
         
        </tbody>
      </table>

    </div>
  </div>
</div>